@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /*Optional: just make scrollbar invisible*/
}

.list_sm {
  width: 38px;
  height: 50px;
}

.list_md {
  height: 57px;
  width: 71px;
}


.grid-template-rows {
  grid-template-rows: theme('spacing.header') auto theme('spacing.footer');
  grid-template-columns: auto;
}

.gutter {
  background-color: theme('colors.borderColor');
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1px !important;
  position: relative;
  z-index: 100;
}

.gutter:before {
  position: absolute;
  content: '';
  width: 11px;
  height: 100%;
  top: 0;
  left: -5px;
  /* background: rgba(0, 0, 0, 0.1); */
}

/* .gutter:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  left: 0px;
  background: theme('colors.borderColor');
} */

/* .gutter:hover:after {
  background-color: theme('colors.borderHoverColor') !important;
} */

.gutter:hover {
  background-color: theme('colors.borderHoverColor') !important;
}

/* .gutter.gutter-horizontal:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
} */

.gutter.gutter-horizontal {
  cursor: col-resize;
}
